.Login_Header{
  padding: 2vw 0;
  display: flex;
  transition: all 0.3s ease-in-out;
  justify-content: space-between;
  .logo{
  font-size: 1.8vw;
  font-weight: 600;
  color: var(--buttonColor);
  }
}
.create{
  font-size: 1.1vw;
  font-weight: 600;
  width: 14vw;
  height: 3.5vw;
}
.Login{
  margin-top: 3.5vw;
  .loginHeader{
    font-size: 2.2vw;
    font-weight: 600;
  }
  .LoginForm{
    display: flex;
    flex-direction: column;
    margin:3vw 0;
    gap: 2vw;
  .inputSpace{
  font-size: 1vw;
  padding: 0.2vw 1.5vw;
  font-weight: 400;
  width: 25vw;
    color: var(--textColor);
  height: 3.5vw;
  }
  .inputSpace::placeholder{
  transition: all 0.3s ease-in-out;
  color: var(--textColor);
  }
}
.formLinks{
  display: flex;
  align-items: center;
  width: 28vw;
  justify-content: space-between;
  .forgot{
  font-size: 0.8vw;
    &:hover{
      color: var(--);
    }
  }
  .submit{
      font-size: 1vw;
  padding: 1vw 3vw;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}
}
}
.LoginImg{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45vw;
}