.switch {
    position: relative;
    display: inline-block;
    width: 2.5vw;
    height: 1.5vw;
    z-index: 10;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--placeColor);
    -webkit-transition: .4s;
    transition: .4s;  
    &:before {
    position: absolute;
    content: "";
    height: 1.2vw;
    width: 1.2vw;
    left: 0.2vw;
    bottom: 0.16vw;
    background-color: var(--buttonColor);
    -webkit-transition: .4s;
    transition: .4s;
  }
}
.round {
    border-radius: 3rem;
    &:before {
        border-radius: 50%;
      }
  }


  
  input:checked + .slider:before {
    -webkit-transform: translateX(0.9vw);
    -ms-transform: translateX(0.9vw);
    transform: translateX(0.9vw);
  }
}