.footerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  color: var(--linkColor);
  background-color: var(--backgroundColor);
  padding: 0 5vw;
  font-size: 1.5vw;
  height: auto;
  filter: drop-shadow(0vw -0.7vw 1vw var(--placeColor));
  .logo {
    font-size: 1.8vw;
    font-weight: 600;
    padding: 1vw 0;
    color: var(--buttonColor);
  }
  .links {
    display: flex;
    gap: 1vw;
    list-style: none;
    color: var(--linkColor);
    transition: all 0.3s ease-in-out;
    font-size: 0.8vw;
    margin-bottom: 1.5vw;
    .link {
      &:hover {
        transition: all 0.3s ease-in-out;
        color: var(--buttonColor);
      }
    }
  }
}
