@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
:root {
  --backgroundColor: #ffffff;
  --textColor: #5d676e;
  --buttonColor: #ff748d;
  --placeColor: #e0e0e0;
  --linkColor: #686868;
  --dpSize: 4.5vw
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
  color: var(--textColor);
  background-color: var(--backgroundColor);
}
.App {
  text-align: center;
}
.button{
  border-radius: 1rem;
  outline: none;
  border: none;
  color: var(--backgroundColor);
  background-color: var(--buttonColor);
}
.button:hover{
  background-color: var(--textColor);
  color: var(--buttonColor);
}
.plain{
  border: 0.1vw solid var(--textColor);
  color: var(--textColor);
  transition: all 0.3s ease-in-out;
  background-color: var(--backgroundColor);
}
.plain:hover{
  border: 0.1vw solid var(--buttonColor);
  scale: 1.05;
  color: var(--backgroundColor);
  background-color: var(--buttonColor);
  transition: all 0.3s ease-in-out;
}
.inputSpace{
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: var(--placeColor);
  transition: all 0.3s ease-in-out;
}
